@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0,0,0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input.searchBox:focus {
  border: none !important;
  box-shadow: 0 0 10px #ffffff !important;
}

li.highlightOption {
  background-color: #9ca3af;
  color: black;
}

li.option.highlightOption:hover {
  background-color: #d1d5db !important;
  color: black !important;
}

li.option {
  padding: 6px !important;
}

li.option:hover{
  background-color: #e5e7eb !important;
  color: black !important;
  padding: 6px !important;
}

div.optionListContainer {
  margin-top: 6px !important;
}

.jobPostScroll {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: #7f7f7f rgb(248 250 252 / var(--tw-bg-opacity));   /* scroll thumb and track */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7f7f7f rgb(248 250 252 / var(--tw-bg-opacity));
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(248 250 252 / var(--tw-bg-opacity));
}

*::-webkit-scrollbar-thumb {
  background-color: #7f7f7f;
  border-radius: 20px;
  border: 2px solid rgb(248 250 252 / var(--tw-bg-opacity));
}

/* Landing */
.scrolled {
  background-color: white;
}

.anim-bg-gradient {
  cursor: pointer;
  color: white;
  background: linear-gradient(120deg, rgb(69, 0, 139), rgb(20, 103, 220), rgb(0, 204, 255));
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
}

.anim-bg-gradient:hover {
  background-position: 0 0;
}

.custom-shape-divider-bottom-1706631099 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706631099 svg {
  position: relative;
  display: block;
  width: calc(163% + 1.3px);
  height: 214px;
}

.custom-shape-divider-bottom-1706631099 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top-1706825984 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1706825984 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 190px;
}

.custom-shape-divider-top-1706825984 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top-1708824647 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1708824647 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-top-1708824647 .shape-fill {
  fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-top-1708824647 svg {
      width: calc(150% + 1.3px);
      height: 61px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1708824647 svg {
      width: calc(180% + 1.3px);
      height: 50px;
  }
}

.custom-shape-divider-bottom-1708824755 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) translateY(-1px);
 
}

.custom-shape-divider-bottom-1708824755 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.custom-shape-divider-bottom-1708824755 .shape-fill {
  fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1708824755 svg {
      width: calc(150% + 1.3px);
      height: 82px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1708824755 svg {
      width: calc(180% + 1.3px);
      height: 72px;
  }
}