@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input.searchBox:focus {
  border: none !important;
  box-shadow: 0 0 10px #ffffff !important;
}

li.highlightOption {
  background-color: #9ca3af;
  color: black;
}

li.option.highlightOption:hover {
  background-color: #d1d5db !important;
  color: black !important;
}

li.option {
  padding: 6px !important;
}

li.option:hover{
  background-color: #e5e7eb !important;
  color: black !important;
  padding: 6px !important;
}

div.optionListContainer {
  margin-top: 6px !important;
}